{% extends 'home/index.html' %}
{% block content %}

<h2>Cadastro de Usuário</h2>
<div id="intro" class="wrapper style1">					
        <div class="container">
            <p class="style1">Apoio</p>
            <form method="post">
                    {% csrf_token %}
                    {{form.as_html}
                    <button type="submit">Sign up</button>
                </form>
            <p class="style3">PÁGINA OFICIAL DO RALLY CARIOCA - FUNDADO EM JANEIRO DE 2017

                Campeonato Estadual de Rally de Regularidade - CNPJ:23.581.703/0001-56 - Todos os direitos reservados ao Rally Carioca - © 2018
            <!--<ul class="actions">
                <li><a href="#" class="button style3 large">Me Cadastrar</a></li>
            </ul> -->
        </div>
    </div>

{% endblock %}