<!DOCTYPE HTML>
<html>
	<head>
		<title>Rally Carioca</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>		
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">
			<!-- Header -->
				<div class="wrapper">					
					<!-- Nav -->
					<div>
						<h1>Bem Vindo!</h1>
					</div>
				</div>
	</body>
</html>